<div class="col-sm-8 col-sm-offset-2" id="loginform">
  <h1 class="text-center">LOGIN</h1>
  <%= form_for :user, url: login_path do |f| %>
    <%= f.text_field :email, class:"form-control", placeholder: "EMAIL" %>
    <br>
    <%= f.password_field :password, class:"form-control", placeholder: "PASSWORD" %>
    <br>
    <div class="text-right">
      <%= f.submit "LOGIN", class:"btn" %>
    </div>
  <% end %>
</div> 
