<h3>Welcome to AD Competitions!</h3>

<p>Our goal is to always have the most updated information about reputable international competitions available for artists and designer.</p>
<p>If there's a competition you're not finding on our website, please use the Competition Suggestion Form to let us know. We'll update it the first moment we get.</p>
