<h3>Hi, <%= @user.name %></h3>

<h5>Welcome to AD Competitions!</h5>

<p>Our goal is to always have the most updated information about reputable competitions available for artists and designers.</p>
<p>We're always looking for new competitions to add for all of you. Please check back often as we are constantly updating our database. If there's a competition you're not finding on our website, please use the Competition Suggestion Form to let us know. We'll update it the first moment we get.</p>

<h5>Best wishes,</h5>

<h5>Your friends at AD Competitions</h5>
