// font-family: 'Oswald', sans-serif; 300,400
// font-family: 'Yeseva One', cursive;
// font-family: 'Josefin Sans', sans-serif;300, 400, 600


// section {
//   height: 80vh;
// }

html, body {
  height: 100%;
}

h1, #show-title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: 'Yeseva One', cursive;
}

h3, h4 {
  font-family: 'Yeseva One', cursive;
}

h4 {
  margin:5px;
}

h3 a {
  color: black;
  text-decoration: none;
}

h3 a:hover {
  color:blue;
  text-decoration: none;
}

h6 {
  margin: 5px;
}

h6 a {
  color: black;
  text-decoration: none;
}

h6 a:hover {
  color:blue;
  text-decoration: none;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.card {
  margin-right: 15px;
}

// Navbar

#navbar-brand {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.nav-item {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  list-style-type: none;
  margin-top: 15px;
  margin-right: 15px;
}

.nav-item a {
  color:black;
  text-decoration: none;
}

.nav-link:hover {
  background-color: none;
  color:blue;
}


// Footer
#footer {
  height: 50px;
  clear:both;
  padding-top: 30px;
}

// Comepetition Show Page
#show-image {
  width: 100%;
}

#comp-details {
  margin-top: 20px;
}

#comp-website {
  color: black;
  text-decoration: none;
}

#comp-website:hover {
  color: blue;
  text-decoration: none;
}

#comp-edit, #comp-delete {
  color: white;
  background: black;
}

small a {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color:black;
}

small {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-right: 10px;
}

small a:hover {
  text-decoration: none;
  color:blue;
}


// New Competition Form

.form-control {
  border-radius: 0px !important;
}

input, textarea {
  color:black;
  font-size: 16px;
  border: 1px solid lightgray;
  box-shadow: none !important;
} 

input::-webkit-input-placeholder {
  color: black !important;
}

input::-moz-placeholder {
  color: black !important;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  color: black !important;
}
input:-ms-input-placeholder { 
  color: black !important;
}

textarea::-webkit-input-placeholder {
  color: black !important;
}

textarea::-moz-placeholder {
  color: black !important;
}
textarea:-moz-placeholder {   /* Older versions of Firefox */
  color: black !important;
}
textarea:-ms-textarea-placeholder { 
  color: black !important;
}

input[placeholder], textarea[placeholder] {
   font-weight: bold; 
   color:black !important;
   font-family: 'Yeseva One', cursive;
}

// User New Page


// User Show Page

#profile-image {
}

#user-header {
  margin-top: 100px;
}









