// font-family: 'Oswald', sans-serif; 300,400
// font-family: 'Yeseva One', cursive;
// font-family: 'Josefin Sans', sans-serif;300, 400, 600


section {
  height: 100vh;
}

h1 {
  margin: 50px;
  font-family: 'Yeseva One', cursive;
}

h3 {
  font-family: 'Yeseva One', cursive;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}