<div class="navbar navbar-bottom" id="footer">
   
</div>

<footer class="footer navbar-fixed-bottom">
     <div class="container">
      <div class="text-center">
         <p class="footer-copy" &copy; Copyright AD COmpetition 2015 <br>
          </p>
      </div>
      <div class="social-media">
        <!-- <a href="#"><i class="ion-social-twitter"></i></a> -->
        <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
        <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
        <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
        <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
      </div>
     </div>
</footer>